@keyframes blink {
  50% {
    border-color: #ffffff;
  }
}

@font-face {
  font-family: NeueMachinaBold;
  src: url("./fonts/NeueMachinaBold.otf");
}

@font-face {
  font-family: NeueMachinaRegular;
  src: url("./fonts/NeueMachinaRegular.otf");
}

@font-face {
  font-family: NeueMachinaLight;
  src: url("./fonts/NeueMachinaLight.otf");
}

.manrope-font {
  font-family: "Manrope", sans-serif;
}

.machina-font {
  font-family: "Manrope", sans-serif !important;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f5f5f5 !important;
}

.jumbotron {
  background-color: #f5f5f5 !important;
}

.modal-body {
  padding-top: 20px !important;
}

.tab-section {
  padding-top: 160px;
}

.nav-tabs .nav-link {
  border: 1px solid #00000014 !important;
}

.media-body {
  line-height: 1.7;
}

h1,
h2,
h4,
h5,
small {
  font-family: "Manrope", sans-serif;
  color: #41393e;
}

h3 {
  color: #709176;
}

p {
  line-height: 1.8 !important;
}

h5 {
  font-family: "Manrope", sans-serif;
  line-height: 1.8 !important;
  color: #41393e;
}

h4 {
  font-family: "Manrope", sans-serif;
  line-height: 1.8 !important;
  color: #41393e;
}

td {
  color: black;
}

.tab-link > .nav-link {
  color: #41393e !important;
}

.olive {
  color: #709176;
}

.table-head {
  background-color: #709176;
  color: #fff;
  font-family: "Manrope", sans-serif;
}

.icon-color {
  color: #d8636e;
}

.icon-svg-color {
  color: #7a7a7a;
}

.fas.fa-undo:hover {
  color: rgb(0, 0, 0);
}
.fas.fa-plus:hover {
  color: rgb(0, 0, 0);
}

.nav-bg {
  background-color: #709176;
  color: #fff !important;
}

.light {
  color: #f5f5f5;
}

.nav-link {
  color: #f5f5f5 !important;
}

html {
  scroll-behavior: smooth;
}

.align-middle {
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--multiple {
  padding: 0.3rem 0.5rem 0.5rem 0.5rem !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  color: #858585;
  font-size: 18px;
}

.form-control {
  padding: 0.7rem 0.75rem !important;
}

.align-right {
  margin-left: auto;
}

.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.boxSearch {
  background-color: #d9d9d9;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
}

.search-jumbo {
  padding-top: 20%;
  padding-bottom: 20%;
}

.boxInfo {
  background-color: #d9d9d9;
  border-radius: 2px;

  color: #4a4a4a;

  padding: 1.25rem;

  height: 100px;
}

.link-class:hover {
  background-color: #d9d9d9;
}

#result {
  position: absolute;
  width: 97%;
  max-width: 640px;
  overflow-y: auto;
  max-height: 400px;
  box-sizing: border-box;
  z-index: 1001;
  padding-left: 0 !important;
}

.sub-menu-bg {
  margin-left: 75px;
  border-left: 8px solid rgb(169, 216, 224);
}

[data-toggle="collapse"] .fa:before {
  content: "\f078";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f054";
}
.glyphicon {
  padding-right: 6px !important;
}

.policy-list-padding {
  padding-top: 120px;
}

.badge {
  cursor: pointer;
}

ul.filter-list,
.list {
  list-style: none;
  clear: both;
  margin: 20px auto 0;
  padding: 0;
  margin-bottom: 10px;
}

.list {
  padding-top: 30px;
}

li.list-margin,
.no-result {
  margin: 5px 10px;
  float: left;
}

.filter li:not(.active) {
  opacity: 0.7;
}

.filter li:not(.active) a {
  transform: scale(0.9);
}

.filter-container {
  padding-bottom: 35px;
}

a {
  cursor: pointer;
}

.float-right {
  float: right !important;
}

.jumbotron {
  margin-bottom: 0;
}

.question-list-group > .list-group-item {
  box-shadow: none !important;
  font-size: 18px;
  padding: 0.55rem 1.25rem;
}

.list-group-item {
  box-shadow: inset 2px 0px 10px rgba(209, 209, 209, 0.219) !important;
}

svg text {
  cursor: default;
  pointer-events: none;
}

.circle__spin {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 140px;
  height: 140px;
}

.circle__spin svg {
  width: 100%;
  height: 100%;
  animation: spin 10s linear infinite;
}

.circle__spin circle {
  stroke-width: 5;
  stroke-dasharray: 120, 20;
  fill: none;
  stroke: orange;
}

.btn-links {
  background-color: #f44336;
  color: white;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}

.select-checkbox option:checked::before {
  content: "\2611";
}

.clicked-background {
  background: #b7e0c1;
}

.clicked-background:hover {
  background-color: #87ce99;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}

.select-checkbox option:checked::before {
  content: "\2611";
}

.clicked-background {
  background: #b7e0c1;
}

.clicked-background:hover {
  background-color: #87ce99;
}

.model-bg {
  background-color: #bee5eb;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.center-svg {
  display: block;
  margin: auto;
}

.svg-bg {
  border: 2px solid rgb(194, 194, 194);
  margin: 49px;
  padding: 20px;
  background-color: #fff;
}

.result-li {
  display: block;
}

.edge {
  stroke: white;
  stroke-width: 1;
}

.graphSVG {
  background-color: black;
}

div.container {
  width: 100%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tip {
  pointer-events: none;
}

@font-face {
  font-family: "Oswald";

  src: url("https://fonts.googleapis.com/css?family=Oswald|Oswald+Light|Saira+Extra+Light|Saira+Semi+Bolf");
}

#modelMap {
  padding-left: 200px;
}

div.map {
  padding-left: 200px;
}

.suggested-font {
  font-size: 1.25rem;
}

/**Buttons**/

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #3d52d5 !important;
}

.btn-hidden {
  display: none;
}

/**Modal**/

.modal-body {
  padding: 40px;
}

/**Toggler**/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* content: "No";
  font-size: 14px;
  font-weight: 300;
  color: #afafaf;
  font-family: 'Manrope', sans-serif;
  padding-left: 3px;
  padding-top: 2px; */
}

.on {
  display: none;
}

.on,
.off {
  color: #ccc;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 15%;
  right: 100%;
  font-size: 11px;
  font-weight: 600;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

input:checked + .slider .on {
  display: block;
  color: #fff;
  left: 10%;
}

input:checked + .slider .off {
  display: none;
}

input:checked + .slider {
  background-color: #0abd4e;
}

input:focus + .slider {
  box-shadow: 0 0 1px#0abd4e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**Footer**/

#footer {
  background: #7091764b;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #41393e;
  position: relative;
  font-family: "Manrope", sans-serif !important;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .copyright {
  margin: 0 0 5px 0;
  color: #41393e;
}

.mtop {
  margin-top: 20px;
}
.menu-ico-collapse {
  font-size: 8px;
  margin-left: 2px;
  float: none;
}

.sub-item {
  background-color: rgb(222, 241, 243) !important;
  color: rgb(65, 65, 65) !important;
}

/*Loading*/

.profile-main-loader {
  left: 50% !important;
  margin-left: -100px;
  position: fixed !important;
  top: 50% !important;
  margin-top: -100px;
  width: 45px;
  z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}
.profile-main-loader .loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%,
  90% {
    stroke: #70c542;
  }
}
@keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%,
  90% {
    stroke: #70c542;
  }
}

/*Loading end*/

/* MAIN MENU */
/* #mainmenu {font-size: 12px;}  
  
      #mainmenu {
          background: #333;
          height: 50px;
      }
  
      .pos-absolute {
          position: absolute;
          border-left: 2px solid #87a237;
          z-index: 999;
      }
      .menu-ico-collapse {
          font-size: 8px;
          margin-left: 2px;
      }
  
      #mainmenu .list-group {
        margin-bottom: 20px;
        padding-left: 0;
        float: left;
        display: inline;
      }
      #mainmenu .list-group-item {
        display: block;
        height: 50px;
        margin-bottom: -1px;
        background-color: #333;
        border: 0;
        line-height: 27px;
      }
      #mainmenu .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      #mainmenu .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      #mainmenu .list-group-item > .badge {
        float: right;
      }
      #mainmenu .list-group-item > .badge + .badge {
        margin-right: 5px;
      }
      #mainmenu a.list-group-item {
        color: #fff;
        font-weight: normal;
        border: 0;
        border-right: 1px solid #7c7c7c;
          -webkit-transition: background-color 100ms linear;
          -moz-transition: background-color 100ms linear;
          -o-transition: background-color 100ms linear;
          -ms-transition: background-color 100ms linear;
          
      }
      #mainmenu a.list-group-item .list-group-item-heading {
        color: #333333;
      }
      #mainmenu a.list-group-item:hover,
      #mainmenu a.list-group-item:focus {
        text-decoration: none;
        background-color: #87a237;
      }
      #mainmenu a.list-group-item.active,
      #mainmenu a.list-group-item.active:hover,
      #mainmenu a.list-group-item.active:focus {
        z-index: 2;
        color: #ffffff;
        background-color: #87a237;
        border: 0;
      }
  
      #mainmenu .panel {
        margin-bottom: 20px;
        background-color: #ffffff;
      border: 0;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      } */
/* MAIN MENU end */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*MAP*/

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
